.edit-profile-page {
  min-height: 100vh;
  background: #000;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.edit-profile-card {
  width: 50%;
  background: #111;
  padding: 30px;
  border-radius: 15px;
  border: 1px solid rgba(255, 191, 0, 0.4);
  box-shadow: 0 0 25px rgba(255, 191, 0, 0.1);
}

.edit-profile-card h2 {
  color: white;
  font-size: 28px;
  margin-bottom: 25px;
  text-align: center;
}

/* form fields */
.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  color: #e0e0e0;
  margin-bottom: 6px;
  font-size: 15px;
}

.form-group input,
.form-group select {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #444;
  background: #1b1b1b;
  color: white;
  font-size: 16px;
}

.form-group input:focus,
.form-group select:focus {
  outline: none;
  border-color: #ffcc00;
  box-shadow: 0 0 5px #ffcc00;
}

/* Save Button */
.save-btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  background: linear-gradient(90deg, #ffd700, #ff9900);
  border: none;
  color: black;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.save-btn:hover {
  transform: scale(1.03);
}
