.admin-login-page {
  height: 100vh;
  width: 100vw;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-login-card {
  width: 600px;
  background: #141414;
  border: 1px solid #333;
  border-radius: 14px;
  padding: 40px;
  display: flex;
  align-items: center;
  gap: 30px;
  box-shadow: 0 0 15px rgba(255, 187, 0, 0.15);
}

.admin-login-title {
  font-size: 42px;
  font-weight: 700;
  color: #ffbb00;
  line-height: 1.1;
  text-align: left;
  width: 40%;
}

.admin-login-form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.admin-login-input {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #444;
  background: #1f1f1f;
  color: #fff;
}

.admin-login-btn {
  width: 100%;
  padding: 14px;
  background: #ffbb00;
  color: #000;
  border: none;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.25s ease;
}

.admin-login-btn:hover {
  background: #ffcc33;
  transform: translateY(-2px);
}
