.admin-dashboard {
  width: 100vw;
  height: 100vh;
  background: #0d0d0d;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding-top: 60px; /* spacing for title */
  box-sizing: border-box;
}




.admin-title {
  font-size: 48px;
  font-weight: bold;
  color: #ffbb00;
  margin-bottom: 10px;
}

.admin-welcome {
  font-size: 18px;
  color: #d1d1d1;
  margin-bottom: 40px;
}

.admin-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
}


.admin-card {
  width: 280px;
  height: 150px;
  background: #1a1a1a;
  border: 1px solid #333;
  border-radius: 14px;
  text-decoration: none;
  color: white;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  box-shadow: 0 0 10px rgba(255, 187, 0, 0.1);
}

.admin-card h2 {
  color: #ffbb00;
  font-size: 22px;
}

.admin-card:hover {
  background: #ffbb00;
  color: #000;
  transform: translateY(-8px);
  box-shadow: 0 0 18px rgba(255, 187, 0, 0.6);
}

.admin-card:hover h2 {
  color: #000;
}
